{#<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <a class="navbar-brand" href="/">{{ site.name }}</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse d-md-flex justify-content-md-end" id="navbarNav">
    <ul class="navbar-nav">
      {% for item in menus.main %}
        <li class="nav-item">
          <a href="{{ item.url }}" class="nav-link link-light" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a>
        </li>
      {% endfor %}
    </ul>

  </div>
</nav>#}

{#---------------------------------------Original nav above with loop through menu -----------------------------------a1-a.faatimah#}


 <nav class="navbar navbar-dark navbar-expand-md bg-dark bg-gradient navigation-clean-button">
            <div class="container"><a class="navbar-brand" href="/" style="color: var(--bs-light);">{{ site.name }}</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1" style="font-family: Poppins, sans-serif;">
                    <ul class="navbar-nav ms-auto">
                          {% for item in menus.main %}
        <li class="nav-item">
          <a href="{{ item.url }}" class="nav-link link-light" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a>
        </li>
      {% endfor %}
                        <li class="nav-item"><a class="nav-link active" href="{{ item.url }}" class="nav-link link-light" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ item.url }}" class="nav-link link-light" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a></li>
                        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false" data-bs-toggle="dropdown" href="#">Favorites </a>
                            <div class="dropdown-menu"><a class="dropdown-item" href="{{ item.url }}" class="nav-link link-light" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a><a class="dropdown-item" href="{{ item.url }}" class="nav-link link-light" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a><a class="dropdown-item" href="{{ item.url }}" class="nav-link link-light" {{ 'aria-current=page' if page.url == item.url }}>{{ item.name }}</a></div>
                        </li>
                    </ul><span class="navbar-text actions"> <a class="login" href="#" style="color: rgb(164,217,50);">Log In</a><a class="btn btn-light action-button" role="button" href="#" style="background: rgb(164, 217, 50);font-family: Poppins, sans-serif;">Sign Up</a></span>
                </div>
            </div>
        </nav>
